[submodule "intpath/al-nuboogh"]
	path = intpath/al-nuboogh
	url = git@github.com:Shams97/al-nuboogh.git
	branch = master

[submodule "intpath/customer_report_pdf"]
	path = intpath/customer_report_pdf
	url = git@github.com:intpath/customer_report_pdf.git
	branch = master

[submodule "intpath/partner_ledger_report_ext"]
	path = intpath/partner_ledger_report_ext
	url = git@github.com:intpath/partner_ledger_report_ext.git
	branch = master

[submodule "intpath/product_notifications"]
	path = intpath/product_notifications
	url = git@github.com:intpath/product_notifications.git
	branch = master

[submodule "intpath/sh_sale_order_history"]
	path = intpath/sh_sale_order_history
	url = git@github.com:intpath/sh_sale_order_history.git
	branch = master

[submodule "intpath/product_bundle_pack"]
	path = intpath/product_bundle_pack
	url = git@github.com:intpath/product_bundle_pack.git
	branch = 14
[submodule "intpath/report_stock_inventory"]
	path = intpath/report_stock_inventory
	url = git@github.com:intpath/report_stock_inventory.git
	branch = nuboogh

[submodule "intpath/deltatech_stock_negative"]
	path = intpath/deltatech_stock_negative
	url = git@github.com:intpath/deltatech_stock_negative.git
	branch = master

[submodule "intpath/warehouse-restriction"]
	path = intpath/warehouse-restriction
	url = git@github.com:intpath/warehouse-restriction.git
	branch = master

[submodule "intpath/om_mass_confirm_cancel"]
	path = intpath/om_mass_confirm_cancel
	url = git@github.com:intpath/om_mass_confirm_cancel.git
	branch = master

[submodule "intpath/stock_limitation"]
	path = intpath/stock_limitation
	url = git@github.com:intpath/stock_limitation.git
	branch = 14

[submodule "intpath/mak_partner_ledger_report"]
	path = intpath/mak_partner_ledger_report
	url = git@github.com:intpath/mak_partner_ledger_report.git
	branch = master

[submodule "intpath/accounting_pdf_reports"]
	path = intpath/accounting_pdf_reports
	url = git@github.com:intpath/accounting_pdf_reports.git
	branch = master

[submodule "intpath/nuboogh_picking_operations_mod"]
	path = intpath/nuboogh_picking_operations_mod
	url = git@github.com:intpath/nuboogh_picking_operations_mod.git
	branch = HEAD
[submodule "intpath/nuboogh_landed_cost_mod"]
	path = intpath/nuboogh_landed_cost_mod
	url = git@github.com:intpath/nuboogh_landed_cost_mod.git

[submodule "intpath/nuboogh_pdf_sales_report"]
	path = intpath/nuboogh_pdf_sales_report
	url = git@github.com:intpath/nuboogh_pdf_sales_report.git
	branch = master

[submodule "intpath/general_ledger_report_nub"]
	path = intpath/general_ledger_report_nub
	url = git@github.com:intpath/general_ledger_report_nub.git
	branch = master

[submodule "intpath/dev_picking_cancel"]
	path = intpath/dev_picking_cancel
	url = git@github.com:intpath/dev_picking_cancel.git
	branch = master
