[submodule "intpath/al-nuboogh"]
	path = intpath/al-nuboogh
	url = git@github.com:Shams97/al-nuboogh.git
	branch = master

[submodule "intpath/customer_report_pdf"]
	path = intpath/customer_report_pdf
	url = git@github.com:intpath/customer_report_pdf.git
	branch = master

[submodule "intpath/partner_ledger_report_ext"]
	path = intpath/partner_ledger_report_ext
	url = git@github.com:intpath/partner_ledger_report_ext.git
	branch = master

[submodule "intpath/product_notifications"]
	path = intpath/product_notifications
	url = git@github.com:intpath/product_notifications.git
	branch = master

[submodule "intpath/sh_sale_order_history"]
	path = intpath/sh_sale_order_history
	url = git@github.com:intpath/sh_sale_order_history.git
	branch = master

[submodule "intpath/product_bundle_pack"]
	path = intpath/product_bundle_pack
	url = git@github.com:intpath/product_bundle_pack.git
	branch = 14

[submodule "intpath/report_stock_inventory"]
	path = intpath/report_stock_inventory
	url = git@github.com:intpath/report_stock_inventory.git
	branch = nuboogh
