/* p {
    background-color: blue;
} */
/* @font-face {
    font-family: 'MonixBold';
    src: local('MonixBold'), local('MonixBold'), url(/your_module/static/src/fonts/MonixBold-Regular.otf) format('opentype');
} */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

* {
    font-family: 'Almarai', sans-serif;
}
.arabic_title {
    font-size: 18px;

}
.comp_name {
    /* font-size: 34px; */
    font-weight: 800;
    /* color:#3399cc; */
}
.cus_container {
text-align: right;}

.footer_list {
    display:flex;
    flex-direction: row;
}
.con_p > p{
     margin: 0px 10px;
}
.inner_div {
    display: flex;
    flex-direction: row;
    margin: 0px 15px;
}

